$primaryColor: #33322b;
$secondaryColor: #7f4721;
$accentColor: #7097a6;
$greyColor: #ccc;

$defaultFont: "Raleway", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;
